.results {
    color: orange;
}

.options {
    font-weight: bold;
    font-size: 20px;
}

.departures {
    color: green;
}

.arrivals {
    color: blue;
}

.flight-spacer {
    margin-bottom: 10px;
}

.error {
    color: red;
}